{{!-- individual listings --}}
        {{!-- for each listing a new div will be created --}}
       {{#each listings as |listing|}}
            <div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
                <a href="#">
                    <img class="hover:grow hover:shadow-lg" src="https://www.placecage.com/g/400/400">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="">{{name}}</p>
                        <i class="far fa-heart text-gray-500 hover:text-black"></i>
                    </div>
                    <p class="pt-1 text-gray-900">${{price}}</p>
                </a>
            </div>
        {{!-- helper closing --}}
        {{/each}}