<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logan's List</title>
    <script src="https://kit.fontawesome.com/1a76f66fbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
    {{!-- Nav bar --}}
    <nav id="header" class="w-full z-30 top-0 py-1">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3">
            <!-- Menu bar when screen is smallest option -->
            <label for="menu-toggle" class="cursor-pointer md:hidden block hover:text-black">
                <title>menu</title>
                <i class="fas fa-bars"></i>
            </label>
            <input class="hidden" type="checkbox" id="menu-toggle" />

            <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
                <nav>
                    <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">
                        <li><button id="home-btn"
                                class="inline-block no-underline hover:text-black hover:underline py-2 px-4">Home</button>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="order-1 md:order-2">
                <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl "
                    href="#">
                    LOGAN'S LIST
                </a>
            </div>

            <div class="order-2 md:order-3 flex items-center" id="nav-content">
                <!-- profile page -->
                <button class="inline-block no-underline hover:text-black" id="profile-button">
                    <i class="fas fa-user" width="24" height="24" viewBox="0 0 24 24"></i>
                </button>
                <!-- logout -->
                <button class="pl-3 inline-block no-underline hover:text-black" id="logout">
                    <i class="fas fa-sign-out" width="24" height="24" viewBox="0 0 24 24"></i>
                </button>
            </div>
        </div>
    </nav>

    {{{ body }}}

    <!-- footer -->
    <footer class="container mx-auto bg-white py-8 border-t border-gray-400">
        <div class="container px-3 py-8 ">
            <div class="w-full mx-auto flex flex-wrap">
                <div class="flex w-full lg:w-1/2 ">
                    <div class="px-3 md:px-0">
                        <h3 class="font-bold text-gray-900">About</h3>
                        <p class="py-4">
                            Logan's List is just the site you need to sell all your "L" related items. Have fun!
                        </p>
                    </div>
                </div>
                <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
                    <div class="px-3 md:px-0">
                        <h3 class="font-bold text-gray-900">Love our site? See it here:</h3>
                        <ul class="list-reset items-center pt-3">
                            <li>
                                <a class="inline-block no-underline hover:text-black hover:underline py-1"
                                    href="https://github.com/treavorwills/logans-list">github.com/logans-list</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/mainPage.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>