{{#if loggedIn}}
<form action="/action_page.php">
    <input type="file" id="myFile" name="filename">
    <input type="submit">
</form>
{{else}}
<a href"/login">You must login first to view this page</a>
{{/if}}