<div class="flex justify center w-full mt-10 h-12 input-group flex-nonwrap  items-stretch h-full w-full mb-4 ">
  <form class="w-4/6 mx-10 md:w-1/2 md:mx-0 lg:w-1/3 h-full" id="signup-form">
    <fieldset>
      <legend>Join Logan's List</legend><br>
      {{!-- Name input --}}
      <label for="name">Userame:</label><br>
      <input
        class="h-full form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 hover:grow hover:shadow-lg focus:text-gray-700 focus:bg-white focus:border-black focus:outline-none"
        type="text" id="name-signup" required="required" name="name" placeholder="RabbidRacoon"><br>
      {{!-- user name input --}}
      <label for="userName">Email</label><br>
      <input
        class="h-full form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 hover:grow hover:shadow-lg focus:text-gray-700 focus:bg-white focus:border-black focus:outline-none"
        type="text" id="email-signup" required="required" name="userName" placeholder="johndoe@gmail.com"><br>
      {{!-- Password input --}}
      <label for="password">Password</label>
      <input
        class="h-full form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 hover:grow hover:shadow-lg focus:text-gray-700 focus:bg-white focus:border-black focus:outline-none"
        type="text" id="password-signup" required="required" name="password" placeholder="Password"><br>
      {{!-- submit button --}}
      <input
        class="btn inline-block px-6 py-2 border-2 border-black text-black text-lg font-medium leading-tight uppercase hover:bg-white hover:grow hover:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
        type="submit" value="Submit">
      {{!-- reset button --}}
      <input
        class="btn inline-block px-6 py-2 border-2 border-black text-black text-lg font-medium leading-tight uppercase hover:bg-white hover:grow hover:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
        type="reset" value="Reset">
    </fieldset>
  </form>
</div>

<script src="/js/signup.js"></script>